page-testing {
    ion-content{
        margin: 0 auto;
        left: 0;
        right: 0;
        height: 100vh;
        overflow-y: none;
    }
    #CommentInputArea{
        position: absolute;
        bottom: 0;
        padding-left: 4%;
        width: 100%;
        border: 1px solid blue;
        border-radius: 4px;
    }
    #CommentsArea{
        position: absolute;
        top: 0;
        width: 100%;
        height: 90%;
        overflow-y: scroll;
        border: 1px solid blue;
        border-radius: 4px;
    }
}
