page-testing {
    ion-content{
        margin: 0 auto;
        left: 0;
        right: 0;
        height: 100vh;
       
    }

    ion-title {
        text-align: center;
      }

    #CommentInputArea{
        position: absolute;
        bottom: 20px;
        padding-left: 1%;
        width: 100%;
        border: 1px solid blue;
        border-radius: 4px;
        background-color: white;
    }  
}
