comments {
    .icon-size{
        padding-right: 20px;
        font-size: 30px;
        color: rgb(0, 140, 255);
    }
    .icon-size2{
        font-size: 15px;
    }
    .comment-username{
        font-style: bold;
        color: rgb(0, 140, 255);
        padding-right: 20px;
    }
    .comment-time{
        font-size: 12px;
        font-style: bold;
        color: rgb(1, 138, 108);
    }
    .comment-date{
        font-size: 12px;
        color: rgb(1, 138, 108);
    }
    .tiny-text-size{
        font-size: 10px;
        padding-left: 3px;
    }
}
