<ion-list>
  <div id="CommentItem" ion-item text-wrap *ngFor="let comment of comments | async"><!-- *ngFor is a for loop -->
    <ion-row>
      <div col-1 col-sm-1 id="CommentIcon"><ion-icon class="icon-size" ios="ios-person" md="md-person"></ion-icon></div>      
      <div col-9 col-sm-9 id="ComentsContent">
        <p>
          <span id="CommentUsername">{{comment.username}}</span>
          <span>: </span>
          <span id="CommentDate">{{comment.user_time}} {{comment.user_date}}</span>
        </p>
        <p>{{comment.content}}</p>
      </div>
      <div col-2 col-sm-2 float-right>
        <button ion-button small><ion-icon class="icon-size2" ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon></button>        
        <button ion-button small><ion-icon class="icon-size2" ios="ios-thumbs-down" md="md-thumbs-down"></ion-icon></button>
      </div>
  </ion-row>
  </div>
</ion-list>
